.libs
.deps
*.la
*.lo
*.a
*.o
*.so
*.swp
*.log
config.status
config.site
/chimp
Makefile
!/libchimp/modules/_uv/libuv/Makefile
autom4te.cache
/libtool
/libchimp/ast.c
/libchimp/include/chimp/ast.h
/libchimp/_parser.c
/libchimp/_parser.output
/libchimp/include/chimp/_parser.h
/libchimp/scanner.c
tags
TAGS
/test/_test_main.c
.dirstamp
/chimp-*
/libchimp/_parser.out
/CMakeCache.txt
/CMakeFiles
/a.out.dSYM
/cmake_install.cmake
/test-native
