.libs
.deps
*.la
*.lo
*.a
*.o
*.so
*.swp
*.log
config.status
config.site
/nim
Makefile
!/libnim/modules/_uv/libuv/Makefile
autom4te.cache
/libtool
/libnim/ast.c
/libnim/include/nim/ast.h
/libnim/_parser.c
/libnim/_parser.output
/libnim/include/nim/_parser.h
/libnim/scanner.c
tags
TAGS
/test/_test_main.c
.dirstamp
/nim-*
/libnim/_parser.out
/CMakeCache.txt
/CMakeFiles
/a.out.dSYM
/cmake_install.cmake
/test-native
chasm
